version: '2.1'
services:

  blotter:
    image: ffapb/ffa-blotter
    build:
      context: ${PWD}/build/blotter/
    Dockerfile
    ports:
    #- "8001:8000"
    - "8888:8000"
    volumes:
    - /data/docker-blotter/blotter/:/var/lib/ffa-blotter/data/:ro
    environment:
    - MAYAN_HOST=http://elasticsearch1:9200
    - MAYAN_ADMIN_USER=admin
    # copy production.env.dist to production.env and modify
    env_file: production.env

  mayanedms:
    image: mayanedms/mayanedms:2.7.3
    ports:
    - "8006:80"
    volumes:
    - /data/docker-blotter/mayan/:/var/lib/mayan/:ro
